version: "3.8"

services:
  app:
    build: ./app
    environment:
      - ENV=dev
      - MONGO_URL=mongodb://mongo:27017/devdb
    depends_on:
      - mongo

  mongo:
    image: mongo:6

  nginx:
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - app

